ACTION=="add", SUBSYSTEM=="iio", ATTRS{name}=="ad7794", TAG+="systemd", ENV{SYSTEMD_WANTS}+="adpi-utils-backend-iio-init@%k.service"
ACTION=="add", KERNEL=="i2c-1", SUBSYSTEM=="i2c-dev", TAG+="systemd"
