[Unit]
Description=Initialize ADPi on %i
DefaultDependencies=no
BindsTo=dev-%i.device dev-i2c\x2d1.device
After=dev-%i.device dev-i2c\x2d1.device

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/sbin/adpictl --iio $(echo %i | sed -e 's/iio:device//') set gain 1"
RemainAfterExit=yes
